<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnglishAimlessly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EnglishAimlessly.Properties.Settings.DictionaryDatabaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DictionaryDatabase.mdb;Jet OLEDB:Database Password=AimLessly2021"
            providerName="System.Data.OleDb" />
        <add name="EnglishAimlessly.Properties.Settings.UserDatabaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\UserDatabase.mdb;Persist Security Info=True;Jet OLEDB:Database Password=AimLessly2021"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EnglishAimlessly.Properties.Settings>
            <setting name="LastPractice" serializeAs="String">
                <value>2020-09-29</value>
            </setting>
            <setting name="ActivitionCode" serializeAs="String">
                <value>AimLessly2021</value>
            </setting>
            <setting name="Code" serializeAs="String">
                <value>Nothing</value>
            </setting>
            <setting name="PracticeCycle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsOneStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.8.0</value>
            </setting>
            <setting name="DatabaseVersion" serializeAs="String">
                <value>1.2.1</value>
            </setting>
            <setting name="MaximumWords" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SelectedGroupPractice" serializeAs="String">
                <value>*All*</value>
            </setting>
            <setting name="MasterQuestions" serializeAs="String">
                <value>20</value>
            </setting>
        </EnglishAimlessly.Properties.Settings>
    </userSettings>

  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>